.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    padding-left: 25px;
    height: 50px;
    border: none;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    color: #fff;
    font-size: 60px;
    line-height: 1;
}
.city{
    color:#fff;
    font-size: 40px;
}
.weather-data{
    margin-top: 40px;
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}